@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {}

:root {

}

/* *:focus {
  outline: none;
} */

.main-page {
  min-width: 300px;
  max-width: 810px;
  margin: 0 auto;
  font-size: 0.92em;
}

.block-list {
  border-left: 1px solid #eeeeee;
}

.block-list:hover {
  border-left: 1px solid #aaaaaa;
}

.block {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0px 20px;
}

.block-header {
  display: flex;
  flex-direction: row;
}

/* .block-content:hover {
  background: #eeeeee;
} */

.block-content.selected {
  background: #eeffee;
}

.block-content {
  padding: 5px;
  width: 100%;
  color: rgb(67, 63, 56);
}

.bullet {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #aaaaaa;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.bullet.collapsed {
  @apply bg-indigo-500
}

.block-content img {
  width: 680px;
}

.editor {
  border: 0;
  padding: 5px;
  flex-grow: 1;
}

pre {
  background: #eeeeee;
  padding: 10px;
  border-radius: 5px;
}

#floating {
  position: absolute;
  background: gray;
  padding: 0.5rem;
  color: white;
  box-sizing: border-box;
}

#arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent gray transparent;
}

.resizer.active,
.resizer:hover {
  @apply bg-blue-300;
}

.resizer[data-direction='horizontal'] {
  cursor: ew-resize;
  width: 4px;
}

.resizer[data-direction='vertical'] {
  cursor: ns-resize;
  height: 4px;
}

.calendar {
  font-size: 12px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 10px;
}

.prev-month,
.next-month {
  opacity: 0.5;
}

.week-day,
.day {
  text-align: center;
  padding: 4px 2px;
}

.day.today {
  @apply bg-gray-300;
  border-radius: 50%;
}

.day.has-page {
  @apply bg-yellow-200;
  border-radius: 50%;
}