@import "tailwindcss";

@theme {
  /* Custom theme extensions can be added here if needed */
}

@layer components {}

pre code {
  @apply text-sm;
}

:root {
  --ana-text-color: rgb(67, 63, 56);
  --ana-link-color: #045591;
  --ana-block-dragover-color: #aaaaaa;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

*:focus {
  outline: none;
}

.arrow-up {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #eee transparent;
}

.arrow-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #eee transparent transparent transparent;
}

.arrow-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #eee;
}

.arrow-left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 10px 5px 0;
  border-color: transparent #eee transparent transparent;
}

.main-page {
  min-width: 300px;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 20px;
  /* font-size: 0.92em; */
}

.main-page *,
#right-panel-main * {
  @apply text-gray-600;
  /* color: var(--ana-text-color); */
}

.page {
  margin-bottom: 30px;
}

.block-list {
  border-left: 1px solid #eeeeee;
  padding-left: 15px;
}

.block-list:hover {
  border-left: 1px solid #aaaaaa;
}

.block {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.block-header {
  display: flex;
  flex-direction: row;
}

/* .block-content:hover {
  background: #eeeeee;
} */

.block-content.active {
  border-bottom: 4px solid var(--ana-block-dragover-color);
}

.block-content.selected {
  background: #eeffee;
}

.block-content {
  padding: 3px 50px 3px 5px;
  width: 100%;
  flex-grow: 1;
  user-select: text;
}

#left-panel-main a,
#right-panel-main a {
  color: var(--ana-link-color);
  cursor: pointer;
}

.block-bullet {
  margin-left: -20px;
}

.bullet {
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

.block-bullet .bullet {
  margin-right: 5px;
  cursor: pointer;
}

.block-bullet .bullet-arrow {
  margin-right: 5px;
  cursor: pointer;
  visibility: collapse;
}

.block-bullet:hover .bullet-arrow.arrow-down {
  visibility: visible;
}

.bullet-arrow.arrow-right.has-child {
  visibility: visible;
  @apply border-l-gray-300;
}

.bullet-arrow.arrow-down.has-child {
  @apply border-t-gray-300;
}

.breadcrum-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 8.7px;
  border-color: transparent transparent transparent #eee;
  @apply border-l-gray-300;
}

.search-results-arrow.arrow-down {
  cursor: pointer;
  @apply border-t-gray-500;
}

.search-results-arrow.arrow-right {
  cursor: pointer;
  @apply border-l-gray-500;
}

.block-content img {
  width: 680px;
}

.block-content p {
  min-height: 24px;
}

#__caret {
  display: none;
}

.editor {
  border: 0;
  padding: 5px;
  flex-grow: 1;
}

pre {
  background: #eeeeee;
  padding: 10px;
  border-radius: 5px;
}

#floating {
  position: absolute;
  background: gray;
  padding: 0.5rem;
  color: white;
  box-sizing: border-box;
}

#arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent gray transparent;
}

.resizer.active,
.resizer:hover {
  @apply bg-blue-300;
}

.resizer[data-direction='horizontal'] {
  cursor: ew-resize;
}

.resizer[data-direction='vertical'] {
  cursor: ns-resize;
}

.calendar {
  font-size: 10px;
  margin-bottom: 0.75rem;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.prev-month,
.next-month {
  opacity: 0.5;
}

.week-day,
.day {
  text-align: center;
  padding: 4px 2px;
}

.day.today {
  @apply bg-gray-300;
  border-radius: 50%;
}

.day.has-page {
  @apply bg-yellow-200;
  border-radius: 50%;
}

.title-bar {
  -webkit-app-region: drag;
}

.toolbar-button {
  -webkit-app-region: no-drag;
  margin-top: 10px;
  margin-bottom: auto;
  margin-right: 0.25rem;
  padding: 4px;
  cursor: pointer;
  border-radius: 50%;
}

.toolbar-button:hover {
  @apply bg-gray-100;
}

.app-title {
  -webkit-app-region: drag;
  user-select: none;
}

.right-panel-toolbar-button {
  padding: 10px 10px 0 10px;
  margin-right: 20px;
}